@use '../colors.scss' as colorVar;
.banner {
    background-size: cover;
    position: relative;
    min-height: 660px;
    background-color: colorVar.color(primary);
}
.indian-flag {
    height: 78px;
    width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}
.banner-info {
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 660px;
    margin: auto;
    background-size: contain;
}

.banner-text {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;

    h1 {
        font-size: 2.0em;
        margin-bottom: 0.5em;
    }

    h2 {
        height: 26px;
        font-size: 1.0em;
        margin: 0px 0 23px;
        border-top: 3px solid #fff;
        width: 100%;
        padding-top: 10px;
        font-weight: 500;
    }
}

.ripple {
    box-shadow: 0 1px 3px rgba(90, 77, 190, .12), 0 1px 2px rgba(90, 77, 190, .24);
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    background: #fff;
    padding: 12px 19px;
    font-size: 14px;
    color: #6176a2;
}

.ripple:active,
.ripple:focus,
.ripple:hover {
    box-shadow: 0 14px 28px rgba(90, 77, 190, .25), 0 10px 10px rgba(90, 77, 190, .22)
}

/**section parallex start **/
.parallax {
    width: 100%;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
    height: 300px;
    position: relative;
    background-color: #ddd;
}

.parallax .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(223, 191, 191, 0);
    padding: 2rem;
}

/* .parallax .overlay h1 {
    font-size: 54px;
} */
/**section parallex end **/


/**atom ring start **/
.atom-ring {
    border-radius: 50%;
    border: 1px solid #fff;
    transform-style: preserve-3d;
    transform: rotateX(80deg) rotateY(20deg);
    position: absolute;
    left: 50%;
    top: 2%;
    margin-left: -100px;

    &:first-of-type {
        &:after {
            content: "";
            position: absolute;
            height: 40px;
            width: 40px;
            background: #fff;
            border-radius: 50%;
            transform: rotateX(-80deg) rotateY(0);
            box-shadow: 0 0 25px #fff;
            animation: nucleus_ 2s infinite linear;
            left: 50%;
            top: 50%;
            margin-top: -20px;
            margin-left: -20px;
        }
    }

    &:nth-of-type(2) {
        transform: rotateX(-80deg) rotateY(20deg);

        >div,
        >div:after {
            animation-delay: -.5s;
        }
    }

    &:nth-of-type(3) {
        transform: rotateX(-70deg) rotateY(60deg);

        >div,
        >div:after {
            animation-delay: -1s;
        }
    }

    &:nth-of-type(4) {
        transform: rotateX(70deg) rotateY(60deg);

        >div,
        >div:after {
            animation-delay: -1.5s;
        }
    }

    >div {
        width: 200px;
        height: 200px;
        position: relative;
        transform-style: preserve-3d;
        animation: trail_ 2s infinite linear;

        &:after {
            content: "";
            position: absolute;
            top: -5px;
            box-shadow: 0 0 12px #fff;
            left: 50%;
            margin-left: -5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #fff;
            animation: particle_ 2s infinite linear;
        }
    }
}


@keyframes trail_ {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes particle_ {
    from {
        transform: rotateX(90deg) rotateY(0deg);
    }

    to {
        transform: rotateX(90deg) rotateY(-360deg);
    }
}

@keyframes nucleus_ {

    0%,
    100% {
        box-shadow: 0 0 0 transparent;
    }

    50% {
        box-shadow: 0 0 25px #fff;
    }
}

/**atom ring end **/