@use '../colors.scss' as colorVar;

footer {
    background: colorVar.color(white);

    h3 {
        color: colorVar.color(medium-grey);
        font-size: 1.2em;
    }
}

ul#post-slider {
    list-style: none;
    overflow-y: auto;
    height: 250px;

    li {
        &:nth-child(odd) .year {
            background: colorVar.color(primary);
        }

        &:nth-child(even) .year {
            background: colorVar.color(medium-grey-1);
        }
    }
}

.grids {
    margin-bottom: 15px;
}

.year {
    float: left;
    width: 17%;
    margin-right: 5%;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    padding: 0.5em 0;
}

.year h4 {
    color: colorVar.color(white);
    font-size: 1.0em;
    margin-bottom: 0;
}

.year p {
    color: #fff;
    font-size: 0.8em;
    line-height: 1.5em;
    margin: 0em;
}

.post-description {
    float: left;
    width: 77%;
}

.post-description h5 {
    color: colorVar.color(dark-grey-3);
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.post-description p {
    color: #757575;
    font-size: 0.8em;
    height: 20px;
}

.readmore {
    font-size: .8em;
    color: colorVar.color(primary);

    &:hover {
        text-decoration: underline;
        color: colorVar.color(primary-dark);
    }
}

.cloud-tags {
    display: inline-flex;
    flex-wrap: wrap;

    a {
        font-size: 0.85em;
        box-shadow: 0 1px 3px rgba(90, 77, 190, .12), 0 1px 2px rgba(90, 77, 190, .24);
        border-radius: 6px;
        padding: 10px 15px;
        background-color: colorVar.color(primary);
        color: colorVar.color(white);
        display: inline-block;
        margin: 5px 5px 5px 0;
        transition: .3s all ease-out;
        -webkit-transition: .3s all ease-out;
        -moz-transition: .3s all ease-out;
        -o-transition: .3s all ease-out;
        -ms-transition: .3s all ease-out;

        &:hover {
            background-color: colorVar.color(primary-hover);
            color: colorVar.color(white);
            -webkit-box-shadow: 0 2px 2px 0 rgba(90, 77, 190, .14), 0 1px 5px 0 rgba(90, 77, 190, .12), 0 3px 1px -2px rgba(90, 77, 190, .2);
            box-shadow: 0 2px 2px 0 rgba(90, 77, 190, .14), 0 1px 5px 0 rgba(90, 77, 190, .12), 0 3px 1px -2px rgba(90, 77, 190, .2)
        }
    }
}

footer .footer-about h3 {
    padding: 5px 0;
    color: colorVar.color(medium-grey);
    font-size: 22px
}

footer .footer-about p {
    color: #757575;
    font-size: 0.75em;
    padding: 15px 0 0;
    word-spacing: 2px;
    line-height: 20px;
    text-align: justify
}

footer .footer-about a.btn-secondary {
    font-size: .9rem;
    font-weight: 400
}

footer .footer-about ul.social-icons {
    list-style: none;
    padding: 15px 0 25px
}

footer .footer-about ul.social-icons li {
    display: inline-flex;
    margin-right: 3px
}

footer .footer-about ul.social-icons li a i {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s all ease-out;
    -webkit-transition: .3s all ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(90, 77, 190, .12), 0 1px 2px rgba(90, 77, 190, .24);
    border-radius: 50%;
    border: 2px solid #5d5d5d;
    font-size: 21px;
    width: 40px;
    height: 40px;
    color: #5d5d5d;
    line-height: 38px;
    text-align: center;
    vertical-align: middle
}

footer .footer-about ul.social-icons li a i:hover {
    border-color: colorVar.color(primary);
    color: colorVar.color(primary);
    -webkit-box-shadow: 0 2px 2px 0 rgba(90, 77, 190, .14), 0 1px 5px 0 rgba(90, 77, 190, .12), 0 3px 1px -2px rgba(90, 77, 190, .2);
    box-shadow: 0 2px 2px 0 rgba(90, 77, 190, .14), 0 1px 5px 0 rgba(90, 77, 190, .12), 0 3px 1px -2px rgba(90, 77, 190, .2)
}

footer .navbar-inverse {
    background-color: colorVar.color(light-grey-4);
    border-color: transparent
}

footer .navbar {
    margin-bottom: 0;

    p {
        color: colorVar.color(medium-grey);
        font-size: 12px;
    }

    a {
        text-decoration: none;
        color: colorVar.color(medium-grey);
        font-size: 12px
    }

    &:hover {
        color: #ff4343;
    }
}

footer .navbar-nav>li {
    margin: 0
}

.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
footer .nav-links .navbar-inverse .navbar-nav>.active>a,
footer .nav-links .navbar-inverse .navbar-nav>li>a:focus {
    background-color: rgba(255, 255, 255, 0);
    color: colorVar.color(primary);
}