@use 'sass:map';
@use 'cmp-styles/src/lib/utils/functions' as function;

$navbar-height: '70px';

$navbar-utils: (
  'navbar-height': $navbar-height,
);

// === Collect all maps you want merged ===
$navbar-map-list: ($navbar-utils);
// === Final exported full map ===
$navbar-variable-full: function.merge-maps($navbar-map-list...);
