@use 'sass:map';
@use 'cmp-styles/src/lib/utils/functions' as function;

// Sidebar base variable
$side-bar-color-default: #f39237;

$sidebar-width-desktop-default: 260px;
$sidebar-width-mobile-default: 200px;

// Sidebar color map
$sidebar-default: (
  'side-bar-color': $side-bar-color-default,
);

$sidebar-utils: (
  'sidebar-width-desktop-default': $sidebar-width-desktop-default,
  'sidebar-width-mobile-default': $sidebar-width-mobile-default,
);

// Optional: generate sidebar color variants
$sidebar-color-variants: ();

@each $name, $color in $sidebar-default {
  $sidebar-color-variants: map.merge(
    $sidebar-color-variants,
    function.variant-map($name, $color)
  );
}

// === Collect all maps you want merged ===
$sidebar-map-list: ($sidebar-default, $sidebar-color-variants, $sidebar-utils);
// === Final exported full map ===
$sidebar-variable-full: function.merge-maps($sidebar-map-list...);
