
$base: #212121;

$primary: #3367d6;
$primary-hover: #0069d9;
$primary-dark: #1a3673;

$medium-grey: #323232;
$medium-grey-2: #343434;

$secondary: #6c757d;
$secondary-hover:#545b62;
$secondary-dark:#59595b;

$accent: #fcff00;
$accent-hover: #f8e163;

$bg-primary: #04559e;
$bg-secondary: #6c757d;
$bg-accent: #f8e163;
$bg-danger: #dc3545;
$bg-light: #e8e8e8;
$bg-dark-grey: #818282;
$bg-light-grey: #f8f8f8;
$bg-medium-grey: #999c9e;
$bg-table-odd: #f8f5f5;
$bg-white: #fff;

$color-primary: #3367d6;
$color-primary-hover: #0069d9;
$color-primary-dark: #1a3673;
$color-secondary: #59595b;
$color-danger: #dc3545;
$color-light: #f5f5f5;

$color-accent: #fcff00;
$color-accent-hover: #f8e163;

$color-dark-grey: #818282;
$color-light-grey: #f8f8f8;
$color-light-grey-1: #eaeaea;
$color-light-grey-2: #e9edf1;
$color-light-grey-3: #c1c1c1;
$color-medium-grey: #999c9e;
$color-medium-grey-1: #797979;
$color-medium-grey-2: #595959;
$color-medium-grey-3: #343434;

$color-dark-green: #005825;

$color-table-odd: #f8f5f5;

$color-white: #fff;