@use '../colors.scss' as colorVar;
.contact {
    padding   : 4em 0 4em;
    background: colorVar.color(primary);
}

.contact-info h3 {
    font-size: 2em;
    margin   : 0;
    padding  : 0 0 0.4em;
}

.contact-left ul li:nth-child(4),
.contact-left ul li:nth-child(6) {
    box-shadow: 0 1px 3px rgba(90, 77, 190, 0.12), 0 1px 2px rgba(90, 77, 190, 0.24);
}

.contact-left ul.cont li {
    font-size: 0.8em !important;
    padding  : 2px 0;
}

.contact-left ul li a {
    text-decoration: none;
    color          : #fff;
}

.contact-grids {
    margin-top: 3em;
}

.contact-grids h3 {
    color      : #fff;
    font-size  : 20px;
    font-weight: 400;
    margin     : 0 0 5px;
}

.stripb {
    background: #fff;
    width     : 30%;
    height    : 1px;
    margin    : 0 0 1em;
}

.contact-left ul li {
    list-style-type: none;
    font-size      : 0.85em;
    color          : #fff;
    line-height    : 1.5em;
    font-family    : "Roboto", serif;
}

.contact-left a.addr-link-btn {
    border-radius : 4px;
    font-size     : 16px;
    font-family   : "Roboto", serif;
    border        : 1px solid #ccc;
    display       : inline-block;
    color         : white;
    text-align    : center;
    text-transform: capitalize;
    transition    : all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.contact-left a.addr-link-btn:hover {
    color: #e2e2e2;
}

.contact-right input[type="text"],
.contact-right textarea {
    outline           : 0;
    font-weight       : 300;
    font-size         : 1.2em;
    color             : #000000;
    padding           : 14px;
    transition        : 0.3s all ease-out;
    box-shadow        : 0 1px 3px rgba(90, 77, 190, 0.12), 0 1px 2px rgba(90, 77, 190, 0.24);
    border            : 3px solid rgba(90, 77, 190, 0.07);
    border-radius     : 2px;
    width             : 100%;
    resize            : none;
    margin-bottom     : 2px;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition   : 0.3s all ease-out;
    -o-transition     : 0.3s all ease-out;
    -ms-transition    : 0.3s all ease-out;
}

.contact-right input[type="text"] {
    border            : 3px solid rgba(90, 77, 190, 0.07);
    border-radius     : 2px;
    font-family       : Roboto;
    margin            : 0 2px 2px 0;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition   : 0.3s all ease-out;
    -o-transition     : 0.3s all ease-out;
    -ms-transition    : 0.3s all ease-out;
    box-shadow        : 0 1px 3px rgba(90, 77, 190, 0.12), 0 1px 2px rgba(90, 77, 190, 0.24);
}

.contact-right input[type="text"]:hover,
.contact-right textarea:hover {
    box-shadow: 0 14px 28px rgba(90, 77, 190, 0.25), 0 10px 10px rgba(90, 77, 190, 0.22);
}

.contact-right input[type="text"]:nth-child(2) {
    margin-right: 0;
}

.contact-right form button {
    box-shadow        : 0 1px 3px rgba(90, 77, 190, 0.12), 0 1px 2px rgba(90, 77, 190, 0.24);
    color             : #fff;
    font-family       : Lato, sans-serif;
    background        : 0 0;
    width             : 49%;
    border-radius     : 4px;
    height            : 52px;
    font-size         : 20px;
    font-weight       : 800;
    padding           : 0;
    border            : 3px solid #fff;
    transition        : 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition   : 0.3s all ease-out;
    -o-transition     : 0.3s all ease-out;
    -ms-transition    : 0.3s all ease-out;
}

.contact-right form button:hover {
    box-shadow: 0 14px 28px rgba(90, 77, 190, 0.25), 0 10px 10px rgba(90, 77, 190, 0.22);
}