@use '../colors.scss' as colorVar;
.interactive {
    padding   : 4em 0 0em;
    background: #fff
}

.interactive-info h3 {
    font-size: 2.0em;
    margin   : 0;
    padding  : 0 0 .4em;
}

.threeD-obj {
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : contain;
    position           : absolute;
}

.obj-one {
    left            : 1%;
    top             : 1%;
    height          : 150px;
    width           : 180px;
    //background-image: url('../../images/');
    animation: photo-object-floating 6.5s infinite ease-in-out alternate;
}

@keyframes photo-object-floating {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(30px);
    }
}