@use '../colors.scss' as colorVar;
.career-graph {
    margin-top: 4em
}

.career-graph .heading {
    color      : colorVar.color(medium-grey);
    font-family: "Roboto", serif;
    font-weight: 600;
    font-size  : 1.5em
}

.main-timeline:before {
    content   : "";
    width     : 5px;
    height    : 100%;
    background: colorVar.color(medium-grey);
    position  : absolute;
    top       : 0;
    left      : 50%;
    transform : translateX(-50%);
}

.main-timeline .timeline-content:before,
.main-timeline .timeline:before {
    top      : 50%;
    transform: translateY(-50%);
    content  : ""
}

.main-timeline .timeline {
    width       : 50%;
    padding-left: 100px;
    float       : right;
    position    : relative
}

.main-timeline .timeline:before {
    width        : 20px;
    height       : 20px;
    border-radius: 50%;
    background   : #fff;
    border       : 5px solid colorVar.color(medium-grey);
    position     : absolute;
    left         : -10px
}

.main-timeline .timeline-content {
    display           : flex;
    align-items       : center;
    border            : 1px solid colorVar.color(light-grey-1);
    border-radius     : 3px;
    color             : colorVar.color(medium-grey);
    padding           : 10px;
    position          : relative;
    -webkit-box-shadow: 0 1px 6px rgba(90, 77, 190, .175);
    box-shadow        : 0 1px 6px rgba(90, 77, 190, .175)
}

.main-timeline .timeline-content .company {
    width              : 100px;
    height             : 100px;
    margin             : 0 1em;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : contain;
    border-radius      : 100px
}

.main-timeline .timeline-content:before {
    width     : 75px;
    height    : 10px;
    border-top: 7px dotted colorVar.color(medium-grey);
    position  : absolute;
    left      : -85px
}

.main-timeline .inner-content {
    padding: 20px 0
}

.main-timeline .timeline-content h3:hover .main-timeline .timeline-content .company {
    -webkit-box-shadow: inset 0px 0px 55px -11px rgba(51, 103, 214, 1);
    -moz-box-shadow   : inset 0px 0px 55px -11px rgba(51, 103, 214, 1);
    box-shadow        : inset 0px 0px 55px -11px rgba(51, 103, 214, 1);
    transition        : 0.2s ease-in all;
}

.main-timeline .title {
    font-size  : 1.1em;
    color      : colorVar.color(primary);
    margin     : 0;
    line-height: 1
}

.main-timeline i {
    font-size  : 11px;
    line-height: 1.5;
}
.main-timeline span.newcompany-sync i {
    font-size  : 16px;
    line-height: 1.5;
    cursor: pointer;
}

.main-timeline .sub-title {
    font-size     : 14px;
    font-family: "Roboto", serif;
    font-weight: 700;
    color         : colorVar.color(medium-grey);
    text-transform: capitalize;
    margin        : 0 0 5px
}

.main-timeline .timeline:nth-child(2n) {
    padding: 0 100px 0 0
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before,
.main-timeline .timeline:nth-child(2n):before {
    left : auto;
    right: -10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    right: -85px
}

.main-timeline .timeline:nth-child(2) {
    margin-top: 110px
}

.main-timeline .timeline:nth-child(odd) {
    margin: -110px 0 0
}

.main-timeline .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline .timeline:first-child,
.main-timeline .timeline:last-child:nth-child(even) {
    margin: 0
}

.experiance {
    border       : 1px solid colorVar.color(light-grey);
    border-radius: 3px;
    padding      : 1px 8px;
    line-height  : 1.5em;
    position     : relative;
    top          : -2px;
    left         : 6px;
}

.question {
    border-radius   : 50%;
    background-color: #fff;
    color           : #111;
    font-weight     : 500;
    width           : 16px;
    height          : 16px;
    font-size       : 11px;
    line-height     : 16px;
    text-align      : center;
    display         : inline-block;
    border          : solid 0.5px #818181;
    box-shadow      : 0 0 1px 0 rgba(0, 0, 0, .2);
    vertical-align  : middle;
    margin          : 0 2px 0 8px;
    cursor          : pointer;
    position        : relative;
    left            : 2px;
    top             : -1px;
}

@media only screen and (max-width:767px) {
    .main-timeline {
        overflow: visible
    }

    .main-timeline:before {
        display: none
    }

    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before {
        top      : 1px;
        left     : -9px;
        transform: translateX(0)
    }

    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd) {
        width  : 100%;
        float  : none;
        padding: 0;
        margin : 0 0 10px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 0
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        display: none
    }

    .main-timeline .inner-content {
        padding: 10px
    }

    .career-graph {
        margin-top: 3em
    }
}