@use '../colors.scss' as colorVar;

.about {
    padding: 4em 0 4em;
}

#video {
    width: 100%;
    height: 380px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: colorVar.color(medium-black);
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay:hover .icon i {
    color: colorVar.color(primary);
}

.icon {
    color: colorVar.color(white);
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 22%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.iframe-loading {
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
}

.about-left-grid {
    h3 {
        margin: 0;
        font-size: 1.5em;
    }

    span {
        margin: 0.5em 0;
        display: block;
        font-size: 0.8em;
    }

    p {
        color: colorVar.color(medium-grey);
        font-size: 0.8em;
        line-height: 24px;
        margin: 1em 0 1em;
    }

    q {
        color: colorVar.color(medium-grey-3);
        font-style: italic;
        font-weight: 600;
    }

    h3,
    span {
        padding: 0;
        text-transform: capitalize;
        color: colorVar.color(medium-grey);
    }
}

.study2 {
    .progress-bar-primary {
        background-color: colorVar.color(primary);
    }

    h4 {
        padding-bottom: 0;
        font-size: 0.82em;
        color: colorVar.color(medium-grey);
        font-family: "Roboto", serif;
        font-weight: 400;
    }
}

.social-store {
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.social-store img {
    display: inline-block !important;
    width: auto !important;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    -ms-transition: 0.3s all ease-out;
    box-shadow: 0 1px 3px rgba(90, 77, 190, 0.12), 0 1px 2px rgba(90, 77, 190, 0.24);
}

.social-store img.slack {
    margin-left: 5px;
}

.social-store img:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(90, 77, 190, 0.14), 0 1px 5px 0 rgba(90, 77, 190, 0.12),
        0 3px 1px -2px rgba(90, 77, 190, 0.2);
    box-shadow: 0 2px 2px 0 rgba(90, 77, 190, 0.14), 0 1px 5px 0 rgba(90, 77, 190, 0.12),
        0 3px 1px -2px rgba(90, 77, 190, 0.2);
}

.quotes {
    margin-top: 10px;
    font-size: 0.8em;
    color: colorVar.color(base);
}