@use '../colors.scss' as colorVar;
.navbar-light {
    background-color: colorVar.color(light-white);
}

.logo {
    a {
        &.navbar-brand {
            padding: 0 0 0 15px;

            .logo-text {
                font-size: 0.8em;
                margin-left: 12px;
                padding-left: 12px;
                border-left: 1px solid;
                color: colorVar.color(primary);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin-bottom: 0;

    .navbar-nav {
        &>li {
            &>a {
                color: #595959;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #595959;
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;

    &>li {
        float: left;
        margin: 0 12px;
        font-size: 0.8em;

        a {
            padding: 9px 16px;
            color: colorVar.color(dark-grey-secondary-muted);
        }
    }
}