@use '../colors.scss' as colorVariable;
.logo-text {
    color: #3367d6;
    margin-left: 12px;
    padding-left: 12px;
    border-left: 1px solid;
}

.application {
    position: absolute;
    left: 20px;
    bottom: 0;

}

.portal {
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    color: #a7b0c2;
  }
  
  .version {
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 500;
    color: #a7b0c2;
  }

  .social-login a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    -ms-transition: .3s all ease-out;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(90,77,190,.12), 0 1px 2px rgba(90,77,190,.24);
    border-radius: 50%;
    border: 2px solid colorVariable.$bg-primary;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
  }

  .social-login a:hover {
    box-shadow: 0 2px 2px 0 rgba(90,77,190,.14), 0 1px 5px 0 rgba(90,77,190,.12), 0 3px 1px -2px rgba(90,77,190,.2);
}