@use '../colors.scss' as colorVar;
.scroll-top {
  position: fixed;
  right: 60px;
  bottom: 105px;
  z-index: 999;
  outline: none;
  display: none;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#scroll {
  color: colorVar.color(black);
  border: 1px solid colorVar.color(black);
  &:hover {
    color: #fff;
    background-color: colorVar.color(black);
  }
  padding: 10px 15px;
}

#scroll i {
  font-size: 1.3em;
}
